@model TargetResultsModel
@inject Config _config
@{
    var maxPxHeight = 64;
    var heightFactorPxPerMs = 320.0 / ((_config.CheckTimeoutS ?? 10.0) * 1000.0);
}

<div class="target">
    @{
        Result? lastResult = Model.Results.Length != 0 ? Model.Results[^1] : null;
    }
    <div class="target-header" title="@Model.Target.Address">
        @Model.Target.Name
        <a href="@Model.Target.Address" aria-label="Link to website">↗️</a>
        <div class="status">
            @(lastResult == null ? Html.Raw("<i>No result data available yet</i>") : Formatter.FormatText(lastResult.Status))
            <span class="status-info">
                ℹ️
                @{
                    var time = (lastResult?.Time ?? DateTimeOffset.Now);
                }
                <span class="time" title="state from"><time datetime="@time.ToString("u")">@time.ToString("g")</time></span>
            </span>
        </div>
    </div>

    @if (Model.Results.Length != 0)
    {
        <div class="history">
            @foreach (var dayResults in Model.Results.GroupBy(x => DateOnly.FromDateTime(x.Time.Date)))
            {
                <div class="history-day">
                    <div>@dayResults.Key.ToString("yyyy-MM-dd ddd")</div>
                    <div class="day-history">
                        @foreach (var result in dayResults)
                        {
                            var tooltip = $"{result.Time.ToString("g")} {result.ResponseTime.TotalMilliseconds:N0} ms\n{result.ResponseDetails}";
                            var heightPx = $"{(int)(result.ResponseTime.TotalMilliseconds * heightFactorPxPerMs):D}";
                            <div class="status-container" title="@tooltip" style="height: @(maxPxHeight)px;">
                                <div class="status @Formatter.GetOnlineClass(result.Status)"
                                @*
                                  this solution sucks, why do I need another title
                                  the tooltip event handler is this element for some reason so we add title here - again
                                *@
                                     title="@tooltip"
                                     style="height: @(heightPx)px;">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
