@page
@using MeercatMonitor.Pages;
@using static MeercatMonitor.OnlineStatusStore
@model IndexPageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Online Status - Meercat Monitor</title>
    <style>
        .status-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 1em;
            justify-content: start;
        }

        .time {
            font-style: italic;
        }
    </style>
</head>
<body>
    <h1>Online Status</h1>

    <div class="status-grid">
        @foreach (Result result in Model.AllStatus)
        {
            <span class="target" title="@result.Target.Address">@result.Target.Name</span>
            <div class="status">@Formatter.Format(result.Status)</div>
            <div class="time" title="state from"><time datetime="@result.Time.ToString("u")">@result.Time.ToString("u")</time></div>
        }
    </div>
</body>
</html>
