@namespace MeercatMonitor.Pages
@using static MeercatMonitor.OnlineStatusStore
@model StatusPageModels.GroupResultsModel

<div class="status-grid">
    @foreach (var targetResults in Model.Results)
    {
        <span class="target" title="@targetResults.Target.Address">@targetResults.Target.Name</span>

        var lastResult = targetResults.Results.LastOrDefault();
        if (lastResult == default) break;

        <div class="status">@Formatter.FormatText(lastResult.Status)</div>
        <div class="time" title="state from"><time datetime="@lastResult.Time.ToString("u")">@lastResult.Time.ToString("u")</time></div>

        <div class="history">
            @foreach (var result in targetResults.Results)
            {
                <div class="status" title="@result.Time.ToString("u")">@Formatter.FormatIcon(result.Status)</div>
            }
        </div>
    }
</div>
