@namespace MeercatMonitor.Pages
@using static MeercatMonitor.OnlineStatusStore
@model IndexPageModel.GroupResultsModel

<div class="status-grid">
    @foreach (Result? result in Model.Results)
    {
        if (result is null) continue;
        <span class="target" title="@result.Target.Address">@result.Target.Name</span>
        <div class="status">@Formatter.Format(result.Status)</div>
        <div class="time" title="state from"><time datetime="@result.Time.ToString("u")">@result.Time.ToString("u")</time></div>
    }
</div>
